<template>
  <div class="vue-tempalte">
    <form>
      <h3>Login</h3>

      <div class="form-group">
        <label>Username</label>
        <input type="login" id="login" v-model="login" class="form-control form-control-lg" />
      </div>

      <div class="form-group">
        <label>Password</label>
        <input type="password" id="password" v-model="password" class="form-control form-control-lg" />
      </div>

      <button @click.prevent="sendPost()" type="submit" class="btn btn-dark btn-lg btn-block">
        Log In System
      </button> 
    </form>
  </div>
</template>

<script>
const apiUrl = "http://127.0.0.1:3000/v1/setAuthUser/";

import axios from 'axios';
export default {
  data: function() {
    return {
      post: "",
      login: "",
      password: ""
    };
  },
  methods: {
    sendPost() {
      const postData = { 
        login: this.login, 
        password: this.password 
        };
      axios
        .post(apiUrl, postData, {
          headers: {
          'Content-Type': 'application/json',
          'x-access-token' : 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6MSwiaWF0IjoxNjMzNjA3MzA1LCJleHAiOjE3MzM2MDczMDR9.sDJ8OlGeFbqxNc_o7nhV80qXV7G5Hzd0_E60XZfhfeE'
          }
        })
        .then(res => {
          console.log(res.body);
        });
    }
  }
};

/*
export default {
        mounted() {
            console.log('Component mounted.')
        },
        data() {
            return {
              login: '',
              password: ''
            };
        },
        methods: {
            formSubmit(e) {
              console.log('=======================');
                e.preventDefault();
                let currentObj = this;
                this.axios.post(apiUrl, {
                    login: this.login,
                    password: this.password
                })
                .then(function (response) {
                    currentObj.output = response.data;

                    console.log(response);
                    console.log(currentObj);
                })
                .catch(function (error) {
                    currentObj.output = error;

                    console.log(error);
                    console.log(currentObj);
                });
            }
        }
    }
 */
</script>